.full {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}

.chart-wrapper {
  margin-top: .1rem;
}

.chart-wrapper canvas{
  display: block;
  width: 100%;
  height: 4rem;
}

th {
  text-align: left;
}


.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.red {
  color: #f00;
}

.green {
  color: #0f0;
}